@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Operations */
* {
  margin: 0;
  padding: 0;
}

/* Colors */
:root {
  /*Sizes*/
  --phi: 1.61803398875;
  --sizeh1: 100vh;
  --sizeh2: calc(var(--sizeh1) / var(--phi));
  --sizeh3: calc(var(--sizeh2) / var(--phi));
  --sizeh4: calc(var(--sizeh3) / var(--phi));
  --sizeh5: calc(var(--sizeh4) / var(--phi));
  --sizeh6: calc(var(--sizeh5) / var(--phi));
  --sizeh7: calc(var(--sizeh6) / var(--phi));
  --sizeh8: calc(var(--sizeh7) / var(--phi));
  --sizeh9: calc(var(--sizeh8) / var(--phi));
  --sizeh10: calc(var(--sizeh9) / var(--phi));
  --sizeh11: calc(var(--sizeh10) / var(--phi));
  --sizeh12: calc(var(--sizeh11) / var(--phi));
  --sizeh13: calc(var(--sizeh12) / var(--phi));
  --sizeh3by2: calc(var(--sizeh3) * 2);
  --sizeh5by3: calc(var(--sizeh5) * 3);
  --sizew1: 100vw;
  --sizew2: calc(var(--sizew1) / var(--phi));
  --sizew3: calc(var(--sizew2) / var(--phi));
  --sizew4: calc(var(--sizew3) / var(--phi));
  --sizew5: calc(var(--sizew4) / var(--phi));
  --sizew6: calc(var(--sizew5) / var(--phi));
  --sizew7: calc(var(--sizew6) / var(--phi));
  --sizew8: calc(var(--sizew7) / var(--phi));
  --sizew9: calc(var(--sizew8) / var(--phi));
  --sizew10: calc(var(--sizew9) / var(--phi));
  --sizew11: calc(var(--sizew10) / var(--phi));
  --sizew12: calc(var(--sizew11) / var(--phi));
  --sizew13: calc(var(--sizew12) / var(--phi));
  --sizew3by2: calc(var(--sizew3) * 2);
  --sizew5by3: calc(var(--sizew5) * 3);
  --text1: clamp(0.875rem, 1rem, 1.125rem);
  --text2: calc(var(--text1) * var(--phi));
  --text3: calc(var(--text2) * var(--phi));
  --text4: calc(var(--text3) * var(--phi));
  --text5: calc(var(--text4) * var(--phi));
}

/* Generales */
/* Body CSS */
body {
  background-color: whitesmoke;
}

/* Text CSS */
h1 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: var(--text4);
  color: #111111;
}

h2 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: var(--text3);
  color: #111111;
}

h3 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: var(--text2);
  color: #111111;
}

p {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text1);
}

main {
  display: flex;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

/* Header */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111111;
  padding: 0 var(--sizew8) 0 var(--sizew8);
  height: var(--sizeh7);
  z-index: 1;
}
header a {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--text1);
  color: whitesmoke;
  text-decoration: none;
}
header a:hover {
  color: whitesmoke;
}
header a:focus {
  color: whitesmoke;
}

.navbar {
  justify-content: space-between;
  padding: 0 var(--sizew8) 0 var(--sizew8);
  height: var(--sizeh7);
}

.navbar-nav {
  gap: var(--sizew10);
}

.navdiv {
  display: flex;
  justify-content: flex-end;
}

.bi-list {
  fill: whitesmoke;
  height: var(--text2);
}

/* Buttons */
.button1 {
  padding: var(--sizeh12) var(--sizeh9);
  border: 0;
  background-color: #111111;
  size: auto;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text2);
  color: whitesmoke;
  text-decoration: none;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row wrap;
  background-color: #111111;
  height: var(--sizeh5);
  justify-content: center;
  align-items: center;
}
footer p {
  color: whitesmoke;
}

/* Index Page */
.hero {
  position: relative;
  display: inline-block;
  width: 100%;
  height: var(--sizeh2);
  overflow: hidden;
  flex-wrap: wrap;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}
.hero div {
  position: absolute;
  display: flex;
  flex: 0;
  flex-direction: column;
  gap: var(--sizeh10);
  bottom: var(--sizeh6);
  left: var(--sizew7);
  align-items: flex-start;
}
.hero h2 {
  color: whitesmoke;
  padding: 0 var(--sizew7) 0 0;
}

.destacados {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--sizeh8) var(--sizew7);
  gap: var(--sizeh8);
  align-items: center;
}
.destacados div div {
  display: flex;
  flex-direction: column;
  gap: var(--sizeh9);
  flex-wrap: wrap;
  align-items: center;
}
.destacados img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.destacados-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--sizew6);
  align-items: center;
  justify-content: center;
}

.destacadosimg {
  height: var(--sizeh4);
  width: var(--sizeh3);
  align-items: center;
}

/* Colecciones Page */
.colecciones {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-auto-rows: auto;
  gap: var(--sizew9);
  padding: var(--sizew9);
  justify-items: center;
  align-items: center;
}

.colecciones-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--sizew9);
  width: 100%;
}

.colecciones-title {
  grid-column: span 2;
}

.colecciones-nueva {
  grid-column: span 2;
}
.colecciones-nueva div {
  height: var(--sizeh2);
}

.colecciones-item-new {
  width: 100%;
  height: var(--sizeh2);
  object-fit: cover;
}

.colecciones-item-img {
  width: 100%;
  height: var(--sizeh3);
  object-fit: cover;
}

/*# sourceMappingURL=estilo.css.map */
